<div class="text-center mb-5">
  <% if @character %>
    <% if login? %>
      <p><%= link_to @character.name, character_path(@character), class: 'font-weight-bold h4' %></p>
    <% else %>
      <p class="font-weight-bold h4"><%= @character.name %></p>
    <% end %>
    <p class="mt-5">
      <img class="rounded mx-auto" src=<%= "/characters/#{@character.image}" %> alt="Character" width="160px" height="160px">
    </p>
  <% end %>
  <p class="mt-5"><%= link_to 'キャラクターランダム生成', '/characters/random', method: :post, class: 'btn btn-lg btn-primary' %></p>
  <% if login? %>
    <% if @character %>
      <p class="mt-5"><%= link_to '撃破数登録', "/characters/#{@character.id}/score", class: 'btn btn-lg btn-primary' %></p>
    <% end %>
    <div class="row mt-5">
      <table class="offset-xl-4 col-xl-4 offset-md-3 col-md-6 table table-bordered">
        <tr>
          <td>レベル</td>
          <td><%= @level %></td>
        </tr>
        <tr>
          <td>現在のポイント</td>
          <td><%= @total_point %></td>
        </tr>
        <tr>
          <td>次のレベルまで</td>
          <td><%= @next_level %></td>
        </tr>
        <tr>
          <td>達成率</td>
          <td><%= @achievement_rate %>％（<%= @achievement_scores %>／<%= @all_scores %>）</td>
        </tr>
        <tr>
          <td>平均撃破数</td>
          <td><%= @average_point %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
