<div class="text-center mb-5">
  <% if @character %>
    <p>
      <img class="rounded mx-auto" src=<%= "/characters/#{@character.image}" %> alt="Character" width="160px" height="160px">
    </p>
    <% if login? %>
      <p><%= link_to @character.name, character_path(@character), class: 'font-weight-bold h4' %></p>
      <p class="font-weight-bold h4 mb-3">Lv.<%= @level %></p>
    <% else %>
      <p class="font-weight-bold h4"><%= @character.name %></p>
    <% end %>
  <% end %>
  <p class="mt-5"><%= link_to 'キャラクターランダム生成', '/characters/random', method: :post, class: 'btn btn-lg btn-primary' %></p>
  <% if login? %>
    <% if @character %>
      <p class="mt-5"><%= link_to '撃破数登録', "/characters/#{@character.id}/score", class: 'btn btn-lg btn-primary' %></p>
    <% end %>
  <% end %>
</div>
